.container {
  width: calc(100% / 7);
  min-height: 120px;
  border-left: 1px solid #ddd;


  &:first-child {
    border: none;
  }

}
.active {

  .number {
    background-color: #10b981;
    color: #fff;
    padding: 3px;
  }
}
.notCurrentMonth {
  background-color: #d3d3d354;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

  &:hover {
    .add {
      opacity: 1;
    }
  }
}

.add {
  border: 1px solid gray;
  border-radius: 3px;
  opacity: 0;
  transition: opacity .5s;
  cursor: pointer;
}
.task {
  padding: 3px;
  margin: 0 3px 3px 3px;
  border: 1px solid #e4e4e7;
  border-radius: 5px;
}
