* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Links */

a, a:link, a:visited  {
    color: inherit;
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

main .react-calendar__tile--active {
    background: #10b981;
}