.container {
  width: 85%;
  padding: 10px 0;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  //justify-content: space-between;
}
.wrapper {
  display: flex;
  height: 100%;
  gap: 15px;
}

.tasks {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task {
  padding: 20px 10px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.info {
  display: flex;
  flex-direction: column;
}


.title {
  font-size: 18px;
  font-weight: 500;
}
.date {
  color: #10b981;
}

.description {
  color: gray;
}


.group {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 15px;
}
.overdue {
  height: 60%;
}

.mood {
  height: 40%;
}

.input {
  padding: 20px 10px;
  box-shadow: 0 1px 4px #dddddd, 0 2px 18px #dddddd;
}